@page {
    size: A4 landscape;
    margin: 0;
}
html{
    background:#ccc;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
@media screen {
    body { 
        background: #e0e0e0;
        margin:auto;
        display:flex;
        justify-content:center;
        align-items:center;
        min-height: 100vh;
    }

    .page {
        background: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border: 1px solid #000;
        box-sizing: border-box;
        position: relative;
    }
    .sheet-outer{
        display:flex;
        flex-direction: column;
        gap:50px;
        margin-top:50px;
        margin-bottom: 50px;
    }
}

.sheet-outer.A4.landscape { 
    width: 297mm;
}
.sheet-outer.A4 { 
    width: 210mm;
}
@media print {
    .page{
        margin: 0;
        /* border: 1px solid #000; */
    }
    body{
        margin:0;
        background:#fff;
        padding:0;
    }
    html{
        background:#fff;
    }
    .end{
        display:none;
    }
    .no-print {
        display: none !important;
    }
}
.page{
    page-break-after: always;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent overflow from creating "long" pages */
}
.A4.landscape .page{
    width: 297mm;
    height: 210mm;
}